<template>
    <div class="home col-5 mx-auto py-5 mt-5">
        <h1 class="text-center">Create Product</h1>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" v-model="form.name" class="form-control" id="name" />
                    <span class="text-danger" v-if="errors.name">
                        {{ errors.name[0] }}
                    </span>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" v-model="form.description" class="form-control" id="description" />
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" v-model="form.price" class="form-control" id="price" />
                    <span class="text-danger" v-if="errors.price">
                        {{ errors.price[0] }}
                    </span>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" v-model="form.quantity" class="form-control" id="qauntity" />
                    <span class="text-danger" v-if="errors.qauntity">
                        {{ errors.qauntity[0] }}
                    </span>
                </div>

                <button type="submit" @click.prevent="createProduct" class="btn btn-primary btn-block" >Create Product</button>
            </div>
        </div>
    </div>
</template>

<script>
import Product from "../apis/Product";

export default {
    name: 'CreateProdcut',

    data() {
        return {
            form: {
                name: "",
                description: "",
                price: "",
                quantity: ""
            },
            errors: []
        };
    },

    methods: {
        createProduct() {
            Product.create(this.form).then(() => {
                this.$router.push({ name: "Products" });
            }).catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
};
</script>
