<template>
    <div class="home text-center py-5 mt-5">
        <div v-if="!products.length">
            No products to display.
        </div>
        <div v-else>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-1">#</th>
                        <th class="col-3">Product Name</th>
                        <th class="col-3">Description</th>
                        <th class="col-2">Price</th>
                        <th class="col-2">Quantity</th>
                    </tr>
                </thead>
                <tbody v-for="product in products" :key="product.id">
                    <tr>
                        <td class="col-sm-1">{{ product.id }}</td>
                        <td class="col-sm-3">{{ product.name }}</td>
                        <td class="col-sm-3">{{ product.description }}</td>
                        <td class="col-sm-2">${{ product.price }}</td>
                        <td class="col-sm-2">{{ product.quantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import Product from "../apis/Product";

export default {
    name: 'Home',
  
    data() {
        return {
            products: []
        };
    },

    mounted() {
        Product.getAll().then(response => {
            this.products = response.data;
        });
    }
};
</script>
