<template>
    <div class="home col-5 mx-auto py-5 mt-5">
        <h1 class="text-center">Edit Product</h1>

        <div v-if="product" class="edit-form">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" v-model="product.name" class="form-control" id="name" />
                        <span class="text-danger" v-if="errors.name">
                            {{ errors.name[0] }}
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" v-model="product.description" class="form-control" id="description" />
                    </div>

                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="text" v-model="product.price" class="form-control" id="price" />
                        <span class="text-danger" v-if="errors.price">
                            {{ errors.price[0] }}
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="text" v-model="product.quantity" class="form-control" id="qauntity" />
                        <span class="text-danger" v-if="errors.qauntity">
                            {{ errors.qauntity[0] }}
                        </span>
                    </div>

                    <button type="submit" @click.prevent="editProduct" class="btn btn-primary btn-block" >Edit Product</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Product from "../apis/Product";

export default {
    name: 'EditProdcut',

    data() {
        return {
            product: [],
            errors: []
        };
    },

    mounted() {
        this.getProduct(this.$route.params.id);
    },

    methods: {
        getProduct(id) {
            Product.get(id).then(response => {
                this.product = response.data;
            }).catch(e => {
                console.log(e);
            });
        },

        editProduct() {
            Product.update(this.product.id, this.product).then(() => {
                this.$router.push({ name: "Products" });
            }).catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
};
</script>
