<template>
    <div class="home col-8 mx-auto py-5 mt-5">
        <div class="card text-secondary border-primary mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Products</h3>
                    </div>
                    <div class="col-md-3">
                        <div class="float-right">
                            <button type="button" @click="goToCreateProduct()" class="btn btn-success">Create Product</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-body" v-if="products">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-1">#</th>
                                <th class="col-2">Product Name</th>
                                <th class="col-3">Description</th>
                                <th class="col-2">Price</th>
                                <th class="col-2">Quantity</th>
                                <th class="col-2">Action</th>
                            </tr>
                        </thead>
                        <tbody v-for="product in products" :key="product.id">
                            <tr>
                                <td class="col-sm-1">{{ product.id }}</td>
                                <td class="col-sm-2">{{ product.name }}</td>
                                <td class="col-sm-3">{{ product.description }}</td>
                                <td class="col-sm-2">${{ product.price }}</td>
                                <td class="col-sm-2">{{ product.quantity }}</td>
                                <td class="col-sm-2">
                                    <button type="button" @click="goToEditProduct(product.id)" class="btn btn-warning">Edit</button>
                                    <button type="button" @click="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Products from "../apis/Product";

export default {
    data() {
        return {
            products: [],
        };
    },

    created() {
        this.getProducts();
    },

    methods: {
        goToCreateProduct(){
            this.$router.push({ name: "CreateProduct" }); 
        },

        goToEditProduct(id){
            this.$router.push({ name: "EditProduct", params: { id: id } }); 
        },

        getProducts() {
            Products.getAll().then(response => {
                this.products = response.data;
            }).catch(err => console.log(err));
        },

        deleteProduct(id) {
            Products.delete(id).then(data => {
                this.getProducts();
            }).catch(err => console.log(err));
        },
    }
};
</script>
